<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <!-- ENTITIES -->
    <File name="FileUsers" fileName="logs//users.log">
    	<PatternLayout>
    		<Pattern>%d %p [%t] %-5level %logger{36} - %m%n</Pattern>
    	</PatternLayout>
    </File>
    <!-- FIN ENTITIES -->
  </Appenders>
  <Loggers>
  	<Logger name="model.UsuarioDAO" level="TRACE" additivity="false">
  	   <!--Aquí la propiedad additivity significa que el evento de este Logger no 
  	   se pase a su Padre (appender en este caso que es Console-->
  	 <AppenderRef ref="FileUsers"/>
  	</Logger>
    <Root level="ERROR">
      <AppenderRef ref="Errors"/><!-- No se si debería de ir en ref="File" -->
    </Root>
  </Loggers>
</Configuration>