<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                         "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
 <display-name>Archetype Created Web Application</display-name>
 <servlet>
 	<servlet-name>SignUp</servlet-name>
 	<display-name>SignUp</display-name>
 	<description></description>
 	<servlet-class>ws.SignUp</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>DeleteAccount</servlet-name>
 	<display-name>DeleteAccount</display-name>
 	<description></description>
 	<servlet-class>ws.DeleteAccount</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>GetUser</servlet-name>
 	<display-name>GetUser</display-name>
 	<description></description>
 	<servlet-class>ws.GetUser</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>ChangePassword</servlet-name>
 	<display-name>ChangePassword</display-name>
 	<description></description>
 	<servlet-class>ws.ChangePassword</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>GetShoppingHistory</servlet-name>
 	<display-name>GetShoppingHistory</display-name>
 	<description></description>
 	<servlet-class>ws.GetShoppingHistory</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>GetEventosDisciplina</servlet-name>
 	<display-name>GetEventosDisciplina</display-name>
 	<description></description>
 	<servlet-class>ws.GetEventosDisciplina</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>GetMedalDisplayTable</servlet-name>
 	<display-name>GetMedalDisplayTable</display-name>
 	<description></description>
 	<servlet-class>ws.GetMedalDisplayTable</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>GetPaisByName</servlet-name>
 	<display-name>GetPaisByName</display-name>
 	<description></description>
 	<servlet-class>ws.GetPaisByName</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>GetDeportista</servlet-name>
 	<display-name>GetDeportista</display-name>
 	<description></description>
 	<servlet-class>ws.GetDeportista</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>GetDisciplina</servlet-name>
 	<display-name>GetDisciplina</display-name>
 	<description></description>
 	<servlet-class>ws.GetDisciplina</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>GetEventosByDate</servlet-name>
 	<display-name>GetEventosByDate</display-name>
 	<description></description>
 	<servlet-class>ws.GetEventosByDate</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>BuyTicket</servlet-name>
 	<display-name>BuyTicket</display-name>
 	<description></description>
 	<servlet-class>ws.BuyTicket</servlet-class>
 </servlet>
 <servlet>
 	<servlet-name>CheckConnectivity</servlet-name>
 	<display-name>CheckConnectivity</display-name>
 	<description></description>
 	<servlet-class>ws.CheckConnectivity</servlet-class>
 </servlet>
 <servlet-mapping>
 	<servlet-name>SignUp</servlet-name>
 	<url-pattern>/SignUp</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>DeleteAccount</servlet-name>
 	<url-pattern>/DeleteAccount</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>GetUser</servlet-name>
 	<url-pattern>/GetUser</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>ChangePassword</servlet-name>
 	<url-pattern>/ChangePassword</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>GetShoppingHistory</servlet-name>
 	<url-pattern>/GetShoppingHistory</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>GetEventosDisciplina</servlet-name>
 	<url-pattern>/GetEventosDisciplina</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>GetMedalDisplayTable</servlet-name>
 	<url-pattern>/GetMedalDisplayTable</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>GetPaisByName</servlet-name>
 	<url-pattern>/GetPaisByName</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>GetDeportista</servlet-name>
 	<url-pattern>/GetDeportista</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>GetDisciplina</servlet-name>
 	<url-pattern>/GetDisciplina</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>GetEventosByDate</servlet-name>
 	<url-pattern>/GetEventosByDate</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>BuyTicket</servlet-name>
 	<url-pattern>/BuyTicket</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
 	<servlet-name>CheckConnectivity</servlet-name>
 	<url-pattern>/CheckConnectivity</url-pattern>
 </servlet-mapping>
</web-app>
